.time-card {
  position: relative;
  height: 150px;
  width: 170px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(345, 84%, 63%);
  font-size: 100px;
  font-weight: bold;
  overflow: hidden;
}

.time-card__upper,
.time-card__lower,
.time-card__upper-dark-effect {
  position: absolute;
  width: 100%;
}

.time-card__upper {
  /* z-index: 20; */
  border-radius: 10px 10px 0 0;
  /* border-bottom: 1px solid #29293f; */
  background: #414161;
  top: 0;
  bottom: 50%;
}

.mid-line {
  width: 100%;
  position: absolute;
  height: 1px;
  z-index: 30;
  background: #29293f;
}

.time-card__upper-dark-effect {
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 20;
  opacity: 0.2;
  bottom: 50%;
}

.time-card__lower {
  border-radius: 0 0 8px 8px;
  background: #414161;
  top: 50%;
  bottom: 0;
}

.mid-line::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;

  margin-top: -10px;
  margin-left: -7px;
  border-radius: 50%;
  left: 0;
  background: hsl(235, 16%, 14%);
}

.mid-line::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
  margin-top: -10px;
  margin-right: -7px;
  border-radius: 50%;
  background: hsl(235, 16%, 14%);
}

.time-card__text {
  z-index: 10;
}

.time-card__title {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(237, 18%, 59%);
  text-align: center;
  letter-spacing: 6px;
}
