@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap");

.App {
  font-family: "Red Hat Text", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
